body {
  /* background: rgb(173,94,152);
background: linear-gradient(167deg, rgba(173,94,152,1) 35%, rgba(89,72,239,1) 100%); */
}

.App {
  text-align: center;
}

.headingOne {
  color: #ffffff;
  text-align: center;
}

.addTodoModal .ant-modal-content {
  border-radius: 10px;
  background: rgb(173, 94, 152);
  background: linear-gradient(167deg, rgba(173, 94, 152, 1) 35%, rgba(89, 72, 239, 1) 100%);
}

.addTodoModal .inputField {
  border-radius: 5px;
  padding: 5px;
}

.addTodoModal .inputField:hover {
  border: 1px solid #d9d9d9;
}

.addTodoModal .inputField:focus {
  border: 1px solid #d9d9d9;
}

.addTodoModal .col_btn_Addtodo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTodoModal__label {
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
}

.addTodoModal .addTodoModal__btn--Addtodo {
  border: none;
  border-radius: 50px;
  font-size: 15px;
  width: 100%;
  font-weight: 500;
  color:#000
}
.addTodoModal .addTodoModal__btn--Addtodo:hover{
  color:#000
}