/* body {
  background: rgb(89, 72, 240);
  background: linear-gradient(354deg, rgba(89, 72, 240, 1) 35%, rgba(170, 95, 154, 1) 100%);
} */

.App {
  text-align: center;
}

.headingOne{
  /* color:#ffffff; */
}

.btn--openModal {
  background: #fd4a56;
  border: none;
  color: #ffffff;
  border-radius: 50px;
  padding: 22px;
  /* width: 100%; */
  line-height: 0px;
  font-size: 20px;
  box-shadow: 0px 0px 11px 1px rgb(253 74 86), 0px 0px 17px 6px rgb(0 0 0 / 3%), 0px 0px 15px 12px rgb(0 0 0 / 14%), 0px 0px 18px 3px rgb(253 74 86);
}
.btn--openModal:hover{
  background: #fd4a56;
  color: #ffffff;
}