/* body {
  background: rgb(89, 72, 240);
  background: linear-gradient(354deg, rgba(89, 72, 240, 1) 35%, rgba(170, 95, 154, 1) 100%);
} */

.App {
  text-align: center;
}

.headingOne{
  /* color:#ffffff; */
}
