.ant-row .ant-col .todoCard {
    margin: 10px;
    width: 100%;
    border-radius: 10px;
    text-align: left;
    position: relative;
    overflow: hidden;
    background: rgb(94, 161, 173);
    background: linear-gradient(167deg, rgba(94, 161, 173, 1) 35%, rgba(72, 239, 164, 1) 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.ant-row .ant-col .todoCard:nth-child(3n) {
    background: red;
}

.ant-row .ant-col .badge::before {
    content: 'Completed';
    position: absolute;
    top: 18px !important;
    right: -34px;
    background-color: #00a200;
    transform: rotate(45deg);
    padding: 5px 30px;
    font-size: 15px;
}


.ant-row .ant-col .isDone {
    background: rgb(69, 162, 84);
    background: linear-gradient(167deg, rgba(69, 162, 84, 1) 35%, rgba(62, 235, 157, 1) 100%);
    color: #fff;
}

.ant-row .ant-col .todoCard .ant-card-actions {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.todoCard_Title {
    color: #fff;
    margin: 0;
}

.todoCard_Description {
    color: #fff;
    margin-bottom: 20px;
    font-size: 16px;
}

.todoCard .ant-card-actions .anticon-delete svg {
    color: red;
}

.todoCard .ant-card-actions .anticon-edit svg {
    color: #2d9aff;
}

.todoCard .ant-card-actions .anticon-check svg {
    color: #1ce21c;
}