.ant-row .ant-col .todoCard {
    margin: 10px;
    width: 100%;
    border-radius: 10px;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.ant-row .ant-col .badge::before{
    content: 'Completed';
    position: absolute;
    top: 18px !important;
    right: -34px;
    background-color: red;
    transform: rotate(45deg);
    padding: 5px 30px;
    font-size: 15px;
}


.ant-row .ant-col .isDone {
    background: #75be75;
    color: #fff;
}

.ant-row .ant-col .todoCard .ant-card-actions {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.isDone .todoCard_Title {
    color: #fff;
    margin: 0;
}

.isDone .todoCard_Description {
    color: #fff;
    margin-bottom: 20px;
    font-size: 16px;
}

.todoCard .ant-card-actions .anticon-delete svg {
    color: red;
}

.todoCard .ant-card-actions .anticon-edit svg {
    color: #2d9aff;
}

.todoCard .ant-card-actions .anticon-check svg {
    color: #1ce21c;
}
